# Database
MONGODB_CONNECTION_URL=mongodb://localhost:27017/sales-website

# Webhook (Signature Secret for Outgoing Events)
HIT_WEBHOOK_SECRET=your_webhook_secret_here

# Destination URL (Lead Filtration Backend)
LEAD_FILTERATION_WEBHOOK_URL=http://localhost:5002/api/webhook/analytics
WEBHOOK_ENABLED=true

# App Config
PORT=5000
